.short-material-card-container {
    display: flex;
    flex-direction: column;
    width: calc(391px - 64px);
    height: calc(216px - (24px + 24px));
    padding: 24px 32px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: #fff;
}

.short-material-card-title {
    font-size: 20px;
    font-weight: 600;
}

.short-material-card-secondary-container {
    display: flex;
    align-items: center;
    gap: 32px;
    font-weight: 500;
    margin: 24px 0 48px;
}

.in-details-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    align-self: flex-end;
}

.in-details-button:hover svg circle {
    fill: #e6e9ff;
}