.login-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A9C1FF;
}

.login-container {
    width: 600px;
    height: 700px;
    border-radius: 15px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

