.users-materials-page-wrapper {
    background-color: #F5F7FB;
}

.users-materials-page-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 100px;
}

.users-materials-page-heading {
    margin: 32px 0 16px 100px;
}